<!--DODATI ŠTO NEDOSTAJE!-->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/style_slike.css" />
    <link rel="stylesheet" href="/styles/style.css" />
    <title>Document</title>
</head>

<body>
    <!-- Slike u galeriji -->
    <nav class="menu" aria-labelledby="primarna-navigacija">
        <!-- dodati obilježja za ARIA-->
        <button class="menubtn">Menu</button>
        <ul class="menu-items">
            <li><a href="index.html">Pocetna</a></li>
            <li><a href="grafikon.html">Grafikon</a></li>
            <li><a href="/slike">Slike</a></li>
        </ul>
    </nav>

    <h1>Galerija slika</h1>
    <section class="img-gallery-magnific">
        <% images.forEach(image => { %>
          <figure>
            <a href="#<%= image.id %>">
              <img src="<%= image.url %>" alt="<%= image.title %>">
            </a>
            <figcaption><%= image.title %></figcaption>
          </figure>
          
          <a href="#" id="<%= image.id %>" class="lightbox">
            <img src="<%= image.url %>" alt="<%= image.title %>">
            <span class="close">×</span>
          </a>
        <% }) %>
      </section>

</body>

</html>
