<!--DODATI ŠTO NEDOSTAJE!-->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/web_lv2/public/styles/style_slike.css" />
    <link rel="stylesheet" href="/web_lv2/public/styles/style.css" />
    <title>Document</title>
</head>

<body>
    <!-- Slike u galeriji -->
    <nav class="menu" aria-labelledby="primarna-navigacija">
        <!-- dodati obilježja za ARIA-->
        <button class="menubtn">Menu</button>
        <ul class="menu-items">
            <!-- dodati da je navigacija lijevo poravnata i da je skrivena
									
					LV1: bez upotrebe javascripta -->
            <li><a href="index.html">Pocetna</a></li>
            <li><a href="grafikon.html">Grafikon</a></li>
            <li><a href="slike.html">Slike</a></li>
        </ul>
    </nav>



    <h1>Galerija slika</h1>
    <section class="img-gallery-magnific">
        <!-- putanja (href) u tagu a je drugačija kad se koristi lightbox od onoga kada želimo da se 
					 otvori u novom tabu -->
        <% images.forEach(image=> { %>
            <figure>
                <a href="<%= image.full %>">
                    <img src="<%= image.thumbnail %>" alt="<%= image.alt %>">
                </a>
                <figcaption>
                    <%= image.alt %>
                </figcaption>
            </figure>
            <% }); %>

        <% images.forEach(image => { %>
                <figure>
                  <a href="<%= image.full %>">
                    <img src="<%= image.thumbnail %>" alt="<%= image.alt %>">
                  </a>
                  <figcaption><%= image.alt %></figcaption>
                </figure>
              <% }); %>

    </section>
</body>

</html>
